<!-- templates/fragments/header.html -->
<header th:fragment="header" class="p-6 border-b border-white/5 glass sticky top-0 z-50">
    <div class="max-w-[90vw] mx-auto flex justify-between items-center">
        <h1 class="text-2xl font-bold gradient-text cursor-pointer" @click="view = 'upload'">DocuCanvas</h1>
        <div class="flex gap-4">
            <button @click="view = 'upload'" :class="view === 'upload' ? 'text-sky-400' : 'text-slate-400'"
                class="font-medium hover:text-sky-300 transition">Subir</button>

            <button @click="view = 'indexing'" :class="view === 'indexing' ? 'text-sky-400' : 'text-slate-400'"
                class="font-medium hover:text-sky-300 transition">Vista Indexación</button>

            <button @click="view = 'chunks'; if(!chunksLoaded) fetchChunks()"
                :class="view === 'chunks' ? 'text-sky-400 border-sky-500/50 bg-sky-900/30' : 'text-slate-400 border-transparent'"
                class="font-medium px-3 py-1 rounded-lg border transition">Visor de Embeddings</button>

            <button @click="view = 'ask'" :class="view === 'ask' ? 'text-sky-400' : 'text-slate-400'"
                class="font-medium hover:text-sky-300 transition">Preguntar</button>
        </div>
    </div>
</header>
